{% extends "layout.html" %}

{% block title %}
Clients configuration
{% endblock %}

{% block main %}

    <form action="/clients-config" method="post" id="form">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="host_name" autofocus required>
                <option  value="{{ request.form['host_name'] }}" disabled selected>Select host</option>
                {% for host in hosts %}
                    <option value="{{ host }}">{{ host }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="client_name" value="{{ request.form['client_name'] }}" autocomplete="off" required placeholder="Client label">
        </div>
        <div class="mb-3">
            <div>
                <input class="form-control mx-auto w-auto" type="text" name="resolution" value="{{ request.form['ip_address'] }}" placeholder="Resolution (not required)">
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="ssh_command" value="{{ request.form['ip_address'] }}" required placeholder="SSH command to run">
        </div>
        <div>
            <button class="btn btn-primary" type="submit" id="add-client-btn">Add client</button>
        </div>
    </form>

{% endblock %}
